<!doctype html>
<html class="no-js" lang="en">
<head>
  <!-- build:include ../partials/standard-head.html --><!-- /build -->
  <!-- build:include ../partials/warning.html --><!-- /build -->
</head>
<body>
<!-- build:include ../partials/browsehappy.html --><!-- /build -->
<!-- build:include ../partials/javascript.html --><!-- /build -->
<!-- build:remove -->
This will be replaced
<!-- /build -->

<!-- build:include ../partials/header.html -->
This will be replaced by the content of templates/partial/header.html
<!-- /build -->
<section class="main">
<section class="content">
<section class="c-top-panel">
  <article class="l-wrap">
    <div class="c-top-panel_content">
      <div class="main-title-wrap">
        <div class="icon-xamarin"></div>
        <h1>Xamarin</h1>
      </div>
      <p class="c-top-panel_content-text">IWD harnesses Xamarin capabilities to simultaneously extend your mobile presence across diverse platforms, while
      keeping the development efforts reasonable and overall solution unified.</p>
      <p class="c-top-panel_content-text-mob">Extend your mobile presence across diverse platforms, keeping the development efforts reasonable and
        overall solution unified.</p>
    </div>
  </article>
</section>
<section class="c-services-panel">
  <article class="l-wrap">
    <h2>Services</h2>
    <div class="services-wrap services-wrap_f">
      <div class="add-wrap-mob"><!--begin-->
      <div class="services-img serv-img-first"></div>
      <div class="services-title title-resp">
        <h3>Cross-platform Mobile Application Development</h3>
      </div>
      <div class="arrow-down-img"></div>
      </div><!--end-->
      <div class="add-text-mob"><!--begin-->
      <div class="services-text-hide">
        With a strong background in both C#-based systems and native application development, IWD team delivers
          custom cross-platform solutions for iOS, Android and Windows Phone, taking your application all the way from
          the initial concept to the final launch.
      </div>
      </div><!--end-->
    </div>
    <div class="services-wrap">
      <div class="add-wrap-mob"><!--begin-->
      <div class="services-img serv-img-second"></div>
      <div class="services-title title-resp-sec">
        <h3>Unified Architecture Engineering</h3>
      </div>
      <div class="arrow-down-img"></div>
      </div><!--end-->
      <div class="add-text-mob"><!--begin-->
      <div class="services-text-hide">
        We focus on designing a robust technological architecture, making sure our Xamarin apps are seamlessly
          integrated into a holistic C#-based environment that unifies every component &mdash; from backend systems like ERP
          and CRM to middleware and mobile clients &mdash; under a single codebase.
      </div>
      </div><!--end-->
    </div>
    <div class="services-wrap">
      <div class="add-wrap-mob"><!--begin-->
      <div class="services-img serv-img-third"></div>
      <div class="services-title">
        <h3>Migration to Xamarin</h3>
      </div>
      <div class="arrow-down-img"></div>
      </div><!--end-->
      <div class="add-text-mob"><!--begin-->
      <div class="services-text-hide">
        You get a custom designed roadmap to transfer your existing system &mdash; web-based, desktop or native mobile &mdash;
          to Xamarin. Our experienced engineers support all the aspects of the migration to ensure the fast and seamless
          turnaround.
      </div>
      </div><!--end-->
    </div>
  </article>
</section>
<section class="c-enterprise-panel">
  <article class="l-wrap">
    <div class="enterprise-panel-text">
      <h2 class="h2-small-title">Enterprise Mobility</h2>
      <p class="enterprise-panel-text-hide">We also bring our Xamarin expertise onto the enterprise<br> landscape,
        delivering comprehensive cross-platform<br>
        applications to handle every aspect of your business processes.</p>
      <a href="#" class="read-more">read more<span class="enterprise-showcase-arrow-right"></span></a>
    </div>
  </article>
</section>
<section class="c-advantages-panel">
  <article class="l-wrap">
    <h2 class="advantages-panel-title">Platform advantages</h2>
      <div class="advantages-content">
        <div class="advantages-text">
          <div class="adv-title js-adv-btn" data-image-url="images/advantages-img1.png">
            <div class="adv-marker"></div>
            <span>Native User Interface</span>
            <div class="adv-arrow-down"></div>
          </div>
          <div class="adv-hide">
            Built with native user interface controls, Xamarin-based applications provide dynamic and rich user
            interfaces that look and behave just like native ones.
          </div>
          <div class="adv-title js-adv-btn" data-image-url="images/advantages-img2.png">
            <div class="adv-marker"></div>
            <span>Accelerated Development</span>
            <div class="adv-arrow-down"></div>
          </div>
          <div class="adv-hide">
            Built with native user interface controls, Xamarin-based applications provide dynamic and rich user
            interfaces that look and behave just like native ones.
          </div>
          <div class="adv-title js-adv-btn" data-image-url="images/advantages-img3.png">
            <div class="adv-marker"></div>
            <span>Better Maintainability</span>
            <div class="adv-arrow-down"></div>
          </div>
          <div class="adv-hide">
            Built with native user interface controls, Xamarin-based applications provide dynamic and rich user
            interfaces that look and behave just like native ones.
          </div>
          <div class="adv-title js-adv-btn" data-image-url="images/advantages-img4.png">
            <div class="adv-marker"></div>
            <span>Cloud Testing</span>
            <div class="adv-arrow-down"></div>
          </div>
          <div class="adv-hide">
            Built with native user interface controls, Xamarin-based applications provide dynamic and rich user
            interfaces that look and behave just like native ones.
          </div>
        </div>
        <!--<img class="advantages-img" src="../images/advantages-img.png">
        <img class="advantages-img-first" src="../images/advantages-img1.png">-->
      </div>
  </article>
</section>
<section class="c-purple-panel">
  <article class="l-wrap">
    <div class="additional" id="owl-purple"><!--additional wrap-->
   <div class="going-xamarin item">
      <div class="going-xamarin-icon"></div>
      <h3 class="purple-panel-title">going xamarin<span>:</span></h3>
      <p><span class="marker-number">1</span> The application needs to be deployed on two or more operating systems within relatively tight timeframe and budget</p>
      <p><span class="marker-number">2</span> The code, data and logic of the application require easy, effortless sharing across multiple platforms</p>
      <p><span class="marker-number">3</span> No detailed platform-specific adaptations of application’s UI or behavior are required </p>
    </div>
    <div class="going-native item">
      <div class="going-native-icon"></div>
      <h3 class="purple-panel-title">going native<span>:</span></h3>
      <p><span class="marker-number">1</span> The application requires complex, unique user interface and custom behavior </p>
      <p><span class="marker-number">2</span> The highest possible performance is the fundamental requirement for the future application</p>
      <p><span class="marker-number">3</span> The project size is rather small, so implementing a native solution will result in lesser time and effort</p>
      <div class="purple-panel-btn-wrap">
        <div class="purple-panel-btn">
          <a href="#">
          <span class="purple-panel-btn-apple"></span>
          <span class="purple-panel-btn-text">iOS Development</span>
          <spn class="purple-panel-btn-arrow"></spn>
          </a>
        </div>
        <div class="purple-panel-btn">
          <a href="#">
            <span class="purple-panel-btn-android"></span>
            <span class="purple-panel-btn-text">Android Development</span>
            <spn class="purple-panel-btn-arrow"></spn>
          </a>
        </div>
      </div>
    </div>
    </div><!-- end additional wrap-->
  </article>
</section>
<section class="c-codebase-panel">
  <article class="l-wrap">
    <h2 class="h2-small-title codebase">Unified System Codebase</h2>
    <div class="codebase-panel-content">
      <div class="codebase-panel-platforms">
        <div class="codebase-panel-platforms-cont">
          <div class="platforms-icon apple"></div>
          <span class="platforms-title">ios</span>
          <span class="platforms-text">C# + XIB</span>
        </div>
        <div class="codebase-panel-platforms-cont">
          <div class="platforms-icon android"></div>
          <span class="platforms-title">Android</span>
          <span class="platforms-text">C# + AXML</span>
        </div>
        <div class="codebase-panel-platforms-cont">
          <div class="platforms-icon wp"></div>
          <span class="platforms-title">Windows Phone</span>
          <span class="platforms-text">C# + XAML</span>
        </div>
      </div>
      <div class="codebase-panel-platforms gray">
        <h3 class="codebase-panel-gray-title">Shared C# Codebase</h3>
        <div class="codebase-panel-platforms-cont shared-content first">
          <div class="shared-icon logic"></div>
          <span class="platforms-title shared-title">Business Logic <br> layer</span>
        </div>
        <div class="codebase-panel-platforms-cont shared-content access">
          <div class="shared-icon access"></div>
          <span class="platforms-title shared-title">Data Access <br> layer</span>
        </div>
        <div class="codebase-panel-platforms-cont shared-content last">
          <div class="shared-icon storage"></div>
          <span class="platforms-title shared-title">Data Storage <br> layer</span>
        </div>
      </div>
      <div class="visual-studio">
        <div class="visual-studio-icon"></div>
        <div class="visual-studio-text">visual studio</div>
      </div>
    </div>
  </article>
</section>
<section class="c-technologies-panel">
  <article class="l-wrap">
    <h2>technologies</h2>
    <div class="technologies-panel-items-wrap">

      <div class="technologies-panel-item">
        <div class="technologies-panel-item-icon-wrap"><div class="technologies-panel-item-icon"></div></div>
        <div class="add-wrap-tech"><!--begin-->
        <p class="technologies-panel-item-title">Xamarin for iOS</p>
        <div class="technologies-arrow-down-img"></div>
        </div><!--end-->
        <div class="add-wrap-text"><!--begin-->
        <p class="technologies-panel-item-text">With tools like MonoTouch, iOS Designer and WatchKit, building
          sophisticated, business-centered applications for iOS devices, including Apple Watch, becomes easy and time-saving.
        </p>
        </div><!--end-->
      </div>
      <div class="technologies-panel-item">
        <div class="technologies-panel-item-icon-wrap"><div class="technologies-panel-item-icon android"></div></div>
        <div class="add-wrap-tech"><!--begin-->
        <p class="technologies-panel-item-title">Xamarin for Android</p>
        <div class="technologies-arrow-down-img"></div>
        </div><!--end-->
        <div class="add-wrap-text"><!--begin-->
        <p class="technologies-panel-item-text">Designed with Xamarin’s MonoDroid and Android Designer, applications
          for Android provide full-featured functionality and native-like performance, and also fully support Android Wear.</p>
        </div><!--end-->
      </div>
      <div class="technologies-panel-item">
        <div class="add-wrap-tech"><!--begin-->
        <div class="technologies-panel-item-icon-wrap"><div class="technologies-panel-item-icon wp"></div></div>
        <p class="technologies-panel-item-title wp-title">Xamarin for Windows Phone</p>
        <div class="technologies-arrow-down-img"></div>
        </div><!--end-->
        <div class="add-wrap-text"><!--begin-->
        <p class="technologies-panel-item-text">Xamarin allows using the common code across Portable Class Libraries
          or Shared Projects and employ them not only for Windows Phone, but also for other C# platforms like WPF or Windows Runtime.</p>
        </div><!--end-->
      </div>
    </div>
    <div class="technologies-panel-bar-wrap" id="owl-tech">
      <div class="bigger-tech-item technologies-panel-bar-scroll item">
      <div class="technologies-panel-bar-item">
        <p>Development language</p>
        <ul>
          <li><a href="#">C#</a></li>
        </ul>
      </div>

      <div class="technologies-panel-bar-item">
        <p>IDEs</p>
        <ul>
          <li><a href="#">Visual Studio</a></li>
          <li><a href="#">Xamarin Studio</a></li>
        </ul>
      </div>
      <div class="technologies-panel-bar-item">
        <p>User Interface</p>
        <ul>
          <li><a href="#">Xamarin.Forms</a></li>
          <li><a href="#">iOS Designer</a></li>
          <li><a href="#">Android Designer</a></li>
        </ul>
      </div>
      </div>
      <div class="technologies-panel-bar-scroll item">
      <div class="technologies-panel-bar-item">
        <p>Libraries</p>
        <ul>
          <li><a href="#">MonoTouch</a></li>
          <li><a href="#">MonoDroid</a></li>
        </ul>
      </div>
      <div class="technologies-panel-bar-item other-tools">
        <p>Other Tools</p>
        <ul class="other-tools-list">
          <li><a href="#">Xamarin Test Cloud</a></li>
          <li><a href="#">Xamarin Insights</a></li>
        </ul>
        <ul>
          <li><a href="#">NuGet</a></li>
          <li><a href="#">WatchKit</a></li>
        </ul>
      </div>
      </div>
  </article>
</section>
<section class="c-showcase-panel">
  <article class="l-wrap">
    <h2>Showcase</h2>
    <div class="showcase-panel-wrap">
      <div class="showcase-panel-arrow-left"></div>
      <div id="owl-showcase">
      <div class="showcase-panel-content item">
        <div class="showcase-panel-text">
          <h3>cross-platform finance<br> mobile application</h3>
          <p>Our mobile applications for content sharing and online document research
          enable users to easily access, sync and share various content, store and manage files of multiple formats, and
          collaborate around that information right from mobile devices. Advanced features like screen sharing,
          collaborative editing and version control can enrich standard mobile functionality to make the mobile operations
          as comfortable as usual desktop experience.</p>
          <a href="#" class="read-more">read more<span class="enterprise-showcase-arrow-right"></span></a>
        </div>
        <img src="images/phones-img.png">
      </div>
      <div class="showcase-panel-content item">
        <div class="showcase-panel-text">
          <h3>Title<br> h3</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="read-more">read more<span class="enterprise-showcase-arrow-right"></span></a>
        </div>
        <img src="images/phones-img.png">
      </div>
      </div>
      <div class="showcase-panel-arrow-right"></div>
    </div>
    <div class="showcase-panel-wr" id="owl-showcase-mob">
    <div class="showcase-panel-wrap-mobile item">
      <img src="images/showcase-mobile-img1.jpg">
      <div class="showcase-panel-mobile-text">
        <p>edx</p>
        <span>Logistics, Finance, SaaS</span>
        <button name="" type="" value="" class="showcase-panel-mobile-btn">case study</button>
      </div>
    </div>

    <div class="showcase-panel-wrap-mobile item">
      <img src="images/showcase-mobile-img1.jpg">
      <div class="showcase-panel-mobile-text">
        <p>edx</p>
        <span>Logistics, Finance, SaaS</span>
        <button name="" type="" value="" class="showcase-panel-mobile-btn">case study</button>
      </div>
    </div>

    <div class="showcase-panel-wrap-mobile item">
      <img src="images/showcase-mobile-img1.jpg">
      <div class="showcase-panel-mobile-text">
        <p>edx</p>
        <span>Logistics, Finance, SaaS</span>
        <button name="" type="" value="" class="showcase-panel-mobile-btn">case study</button>
      </div>
    </div>
    </div>
  </article>
</section>
</section>
<footer>
  <section class="c-contacts-panel">
    <article class="l-wrap">
        <div class="email-icon"></div>
        <p>
          <span class="email-icon-mobile-wrap"><span class="email-icon-mobile"></span></span>
          <a href="mailto:contact@iwebdev.com">contact@iwebdev.com</a>
        </p>
        <div class="phone-icon"></div>
        <p>
           <span class="email-icon-mobile-wrap"><span class="phone-icon-mobile"></span></span>
          <span>us</span> +1 512 394 8752
        </p>
        <p>
           <span class="email-icon-mobile-wrap"><span class="phone-icon-mobile"></span></span>
          <span>uk</span> +44 20 3290 8471
        </p>
      <button name="" type="" value="" class="contact-us-btn">contact us</button>
    </article>
  </section>
    <section class="footer-menu">
      <article class="l-wrap">
        <div class="footer-menu-item">
          <p>expertise</p>
          <ul>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Logistics</a></li>
            <li><a href="#">Mobile Social Networks</a></li>
            <li><a href="#">Healthcare</a></li>
            <li><a href="#">E-commerce</a></li>
            <li><a href="#">E-learning</a></li>
          </ul>
        </div>
        <div class="footer-menu-item">
          <p>services</p>
          <ul>
            <li><a href="#">Custom Development</a></li>
            <li><a href="#">Enterprise Applications</a></li>
            <li><a href="#">Mobile Solutions</a></li>
          </ul>
        </div>
        <div class="footer-menu-item">
          <p>technologies</p>
          <ul>
            <li><a href="#">.NET</a></li>
            <li><a href="#">Magento</a></li>
            <li><a href="#">Drupal</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">Ruby on Rails</a></li>
            <li><a href="#">Front-end</a></li>
            <li><a href="#">Mobile</a></li>
          </ul>
        </div>
        <div class="footer-menu-item showcase-list">
          <p>showcase</p>
          <ul class="foter-menu-item-showcase-list">
            <li><a href="#">Business Intelligence</a></li>
            <li><a href="#">CRM</a></li>
            <li><a href="#">eLearning</a></li>
            <li><a href="#">Electronic Medical Records</a></li>
            <li><a href="#">Enterprise Collaboration</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Logistics</a></li>
          </ul>
          <ul class="foter-menu-item-showcase-list">
            <li><a href="#">Media Publishing</a></li>
            <li><a href="#">Mobile Application</a></li>
            <li><a href="#">Retail / Ecommerce</a></li>
            <li><a href="#">SaaS</a></li>
            <li><a href="#">Social Network</a></li>
            <li><a href="#">Web Portals</a></li>
          </ul>
        </div>
        <div class="footer-menu-item company">
          <p>company</p>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Advantages</a></li>
          </ul>
        </div>
      </article>
    </section>
    <section class="all-rights">
      <article class="l-wrap">
        <span class="footer-logo"></span>
        <span>&copy; 2015 IWD. All rights reserved.</span>
      </article>
    </section>
</footer>
</section>
<!-- build:js scripts/main.js -->
<script src="../libs/jquery/dist/jquery.js"></script>
<script src="../libs/OwlCarousel/owl-carousel/owl.carousel.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
