<meta charset="UTF-8">
<title>Xamarin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" media="all" href="styles/main.css">
<link rel="stylesheet" href="../libs/OwlCarousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="../libs/OwlCarousel/owl-carousel/owl.theme.css">
<!-- endbuild -->

<!-- build:js scripts/vendor/vendor.js -->
<script src="../libs/modernizr/modernizr.js"></script>
<!-- endbuild -->


